docs/workflows/Part_Two__Transcription.json
{
  "name": "Part Two: Transcription",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/transcription-start",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "edbf17b9-33e7-42e7-9c9c-25cfc5e75a6e",
      "name": "Webhook",
      "webhookId": "6400f027-2fe4-4abc-a17b-18553d1983bd"
    },
    {
      "parameters": {
        "url": "={{  $json.audioURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "e5a4eccc-1958-4ef1-aad4-e8a8ac378ed5",
      "name": "Download Audio File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "71635b93-7500-4067-884a-f0731b513d5e",
      "name": "Transcription API Call",
      "credentials": {
        "openAiApi": {
          "id": "0Ge6ffP8ZIymrhDs",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\nconst cleaned = raw.replace(/\\s{2,}/g, ' ').trim();\nreturn [{ cleanedTranscript: cleaned }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "23557c1a-50aa-4a58-9ee7-8a8452d73609",
      "name": "Clean Transcript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Download Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio File": {
      "main": [
        [
          {
            "node": "Transcription API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcription API Call": {
      "main": [
        [
          {
            "node": "Clean Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Transcript": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1f37499-ea65-49f6-ae42-cd3486932ff7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  },
  "id": "OShpJhlhSDGJFYEy",
  "tags": []
}