docs/IP_Reputation_Tracker.json
{
  "name": "IP Reputation Tracker",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.abuseipdb.com/api/v2/check?ipAddress={{ $json[\"ip\"] }}&maxAgeInDays=90",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "e96ece79c556d85ebc5c9ff2c1d1964f7ea504df30da778bcf83eca0169b531985c24ded6c32f57e"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        0
      ],
      "id": "f96751f7-38eb-4581-8681-6e52c0ec206d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47453c1d-1afc-4dd8-bcfe-a8aa6b59b080",
              "leftValue": "={{ $json.data.abuseConfidenceScore }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "id": "1e3588ea-ea9b-4273-a0b7-f4d0d7aa4338",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08UMFCT0HM",
          "mode": "list",
          "cachedResultName": "hoylelv"
        },
        "text": "=⚠️ Suspicious IP detected - {{ $json.data.ipAddress }} (Confidence Score: {{ $json.data.abuseConfidenceScore }}%)",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        820,
        -100
      ],
      "id": "87d92ba4-9d54-429b-a5e9-dbb9f25c39da",
      "name": "IP is a Threat",
      "webhookId": "bf72fb6b-ab28-401d-a3ec-a43a1dcc7bcc",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ENQOBxLNQ85FXiTp",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08UMFCT0HM",
          "mode": "list",
          "cachedResultName": "hoylelv"
        },
        "text": "=IP Address has been cleared - {{ $json.data.ipAddress }} is not a threat",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        820,
        100
      ],
      "id": "2f6904c8-c302-4f0b-b505-f0bd33aca751",
      "name": "IP is Cleared",
      "webhookId": "fa589aab-0299-494e-b0d6-79d6708fc62f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ENQOBxLNQ85FXiTp",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b1a7ebb-6f13-41b1-8c99-18e11c6800e4",
              "name": "ip",
              "value": "8.8.8.8",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ],
      "id": "cd4ef820-a486-4e87-b8ed-6e0e67bb64e4",
      "name": "IP Setter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ip-checker",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20,
        0
      ],
      "id": "5e8bff3f-7d30-4907-a3c9-f54fb14f6925",
      "name": "Webhook",
      "webhookId": "e058b40f-416a-4238-bf49-240d3d7edaa8"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "IP is a Threat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IP is Cleared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP Setter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "IP Setter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cecdadd5-aa98-4653-9a29-4bfe4efd3efb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  },
  "id": "xwjgsVS7yfV6SeBS",
  "tags": []
}
